<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en{{ end }}">
  <head>
  	<meta charset="utf-8">
  	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
  	<meta name="description" content="">
  	<meta name="author"      content="{{ .Site.Author }}">
    
    {{ partial "head/head.html" . }}

    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-08CSLJH06G"></script>
    <script>
        if (window.location.href.indexOf("localhost") > -1) {
                  console.log('local development:localhost');
                  var islocaldevelopment = true;
              }
              else
              {
                if (window.location.href.indexOf("127.0.0.1") > -1) {console.log('local development:127.0.0.1');} else {var islocaldevelopment = false;
                  window.dataLayer = window.dataLayer || [];
                  function gtag(){dataLayer.push(arguments);}
                  gtag('js', new Date());

                  gtag('config', 'G-08CSLJH06G');
                }
              }
              

    </script>

  </head>
  
  <body class="home">

    {{ block "header" . }}
      {{ partial "head/header.html" . }}
    {{ end }}
 
    {{ block "main" . }}
    {{ end }}
    
    {{ block "footer" . }}
      {{ partial "footer/footer.html" . }}
    {{ end }}
  </body>
  
</html>